main {
	max-width: 1460px;
	margin: 0 auto;
}

.home-empty h1 {
	text-align: center;
	margin-bottom: 0;
}

.home-empty .para-empty {
	text-align: center;
}

.home {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	row-gap: 1.5rem;
	padding-top: 1rem;
	padding-inline: 1rem;
}

@media screen and (min-width: 430px) {
	.home {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 540px) {
	.home {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

@media screen and (min-width: 600px) {
	.home {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1100px) {
	.home {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.note-item {
	height: 260px;
	max-height: 260px;
	overflow: hidden;
	border-radius: 8px;
	text-decoration: none;
	color: unset;
	width: 100%;
}

.note-item:visited {
	color: unset;
}

.note-item p {
	border-radius: 12px;
	font-size: 15px;
	height: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0.5rem;
	padding-inline: 1rem;
	background-color: #333;

	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: pre-wrap;
}

.note-item h2 {
	font-size: 16px;
	text-align: center;
	text-overflow: ellipsis; /* enables ellipsis */
	white-space: nowrap; /* keeps the text in a single line */
	overflow: hidden; /* keeps the element from overflowing its parent */
	margin-top: 0.5rem;
}

.note-item h3 {
	font-size: 14px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #949494;
	margin-top: 0.1rem;
}
