main {
	max-width: 1460px;
	margin: 0 auto;
	min-height: 100vh;
	margin-bottom: 3rem;
}

.home-empty h1 {
	text-align: center;
	margin-bottom: 0;
}

.home-empty .para-empty {
	text-align: center;
	margin-top: 1rem;
}

.home-empty .para-empty .nav-new {
	display: inline-flex;
	margin-inline: 0.5rem;
	height: 35px;
}

.home,
.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	row-gap: 1.5rem;
	padding-top: 1rem;
	padding-inline: 1rem;
}

@media screen and (min-width: 430px) {
	.home,
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 540px) {
	.home,
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

@media screen and (min-width: 600px) {
	.home,
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 1100px) {
	.home,
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.note-item {
	height: 280px;
	max-height: 280px;
	overflow: hidden;
	border-radius: 8px;
	text-decoration: none;
	color: unset;
	width: 100%;
}

.note-item:visited {
	color: unset;
}

.note-item p {
	border-radius: 8px;
	font-size: 0.9375rem;
	height: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0.5rem;
	padding-inline: 1rem;
	background-color: #333;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: pre-wrap;
	transition: all 300ms ease;
}

.note-item:hover p {
	background-color: #444;
}

.note-item h2 {
	font-size: 1rem;
	text-align: center;
	text-overflow: ellipsis; /* enables ellipsis */
	white-space: nowrap; /* keeps the text in a single line */
	overflow: hidden; /* keeps the element from overflowing its parent */
	margin-top: 0.5rem;
}

.note-item h3 {
	font-size: 0.875rem;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #949494;
	margin-top: 0.1rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}
