.home-empty h1 {
  text-align: center;
  margin-bottom: 0;
}

.home-empty .para-empty {
  text-align: center
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  padding-inline: 1rem;
}