.new-note {
  /* border: 1px solid red; */
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

input,
textarea {
  background: #000;
  color: white;
  padding-left: 1.5rem;
  font-size: 18px;

}

input {
  width: 100%;
  padding-block: 0.4rem;
  font-family: var(--font-open);
  /* font-size: 16px; */
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

textarea {
  width: 100%;
  height: 100%;
  font-family: var(--font-open);
  padding-block: 0.6rem;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}