.new-note,
.trash-note {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
}

@media screen and (min-width: 700px) {
	.new-note,
	.trash-note {
		max-width: 80%;
	}
}

form {
	height: 200vh;
}

input,
textarea {
	background: #000;
	color: white;
}

input {
	width: 100%;
	padding-block: 0.4rem;
	font-family: var(--font-open);
	font-size: 19px;
	border: none;
	outline: none;
}

textarea {
	width: 100%;
	min-height: 100%;
	font-family: var(--font-open);
	font-size: 17px;
	padding-left: 1.5rem;
	padding-block: 0.8rem;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
	opacity: 0.9;
}

.title-input-div {
	background-color: #000;
	display: flex;
	gap: 0.4rem;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-bottom: 2px solid #333;
	padding-left: 0.1rem;
	padding-right: 0.5rem;
}

.title-input-div > .buttons {
	color: white;
	font-size: 1rem;
	font-family: var(--font-open);
	font-weight: 600;
}

.trash-note .title-input-div {
	padding-right: 1rem;
}

.buttons {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	padding-inline: 0.2rem;
	padding-block: 0.2rem;
	transition: all 200ms ease;
	aspect-ratio: 1 / 1;
	width: max-content;
}

.back-button {
	aspect-ratio: 1 / 1;
	height: 35px;
	width: 35px;
}

.back-button:hover {
	background-color: #333;
}

.favorite-svg {
	transition: all 200ms ease;
	color: white;
}

.favorite-svg.active {
	fill: #ffe234;
	color: #ffe234;
}

.buttons:hover > .favorite-svg {
	transform: scale(1.1);
	color: #ffe234;
}

@media screen and (min-width: 700px) {
	.trash-button {
		margin-left: 0.4rem;
	}
}

.trash-svg {
	color: white;
	transition: all 200ms ease;
}

.buttons:hover > .trash-svg {
	transform: scale(1.2);
	color: rgb(255, 255, 255);
	fill: rgb(255, 255, 255);
}

.save-svg {
	color: white;
	transition: all 200ms ease;
}

.buttons:hover > .save-svg {
	transform: scale(1.2);
}

.restore-button {
	margin-right: 1rem;
}

.title-input-div > .restore-button,
.title-input-div .delete-button {
	border-radius: 10px;
	aspect-ratio: unset;
	padding-inline: 0.8rem;
	font-size: 1.1rem;
}

.restore-button:hover,
.delete-button:hover {
	background-color: #333;
}
