.note-item {
  border: 1px solid red;
  height: 140px;
  overflow: hidden;
  max-height: 140px;
}

.note-item p {
  border: 1px solid burlywood;
  font-size: 16px;
  height: 100px;
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-item h2 {
  max-width: 100%;
  text-align: center;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}