.clear {
	position: absolute;
	top: 0%;
}

.get {
	position: absolute;
	top: 0%;
	left: 50px;
}

.delete-div {
	background-color: white;
	z-index: 999;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 10px);
	max-width: 400px;
	height: 100px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.delete-div > p {
	text-align: center;
	font-size: 1.2rem;
}

.delete-div > .button-container {
	background-color: #ccc;
	display: flex;
	justify-content: flex-end;
	height: 30px;
}

.delete-div > .button-container > button {
	font-size: 1rem;
	padding-inline: 1.3rem;
	border: 1px solid #111;
	border-radius: 5px;
	font-family: var(--font-roboto);
}
