@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	line-height: 1.5;
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color: rgba(255, 255, 255, 0.87);
	--color-main: rgb(237, 237, 237);
	--font-open: "Open Sans", sans-serif;
	--font-roboto: "Roboto", sans-serif;
}

body {
	color: var(--color-main);
	background-color: #111111;
	min-height: 100vh;
	max-width: 1460px;
	margin: 0 auto;
}
