h1 {
	text-align: center;
	color: var(--color-main);
}

h1 {
	padding-top: 3rem;
	margin-bottom: 3rem;
}

.nav {
	background-color: #000;
	border-bottom: 2px solid #333;
	height: 2.6875rem;
	position: sticky;
	top: 0%;
}

.nav-ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: flex-end;
	align-items: center;
	max-width: 91.25rem;
	margin: 0 auto;
}

.nav-list {
	display: flex;
	padding-inline: 0.6rem;
	border-radius: 6px;
	transition: all 300ms ease;
}

.nav-list:not(.nav-list-new):hover {
	background-color: #333;
}

.nav-list:not(.nav-list-new) {
	height: 30px;
}

.nav-list .nav-a {
	color: var(--color);
	text-decoration: unset;
	font-size: 20px;
	border: 2px solid transparent;
	border-radius: 5px;
	position: relative;
}

.nav-list .nav-a:after {
	content: "";
	position: absolute;
	opacity: 0;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 135%;
	height: 3px;
	border-radius: 8px;
	background-color: white;
	transition: all 300ms ease;
}

.nav-list .nav-a.active:after {
	opacity: 1;
}

.nav-list .nav-a:hover::after {
	opacity: 1;
}

.nav-list .nav-a:hover {
	color: white;
}

.nav-list .nav-a:visited {
	text-decoration: none;
	color: unset;
}

.nav-list:last-of-type {
	margin-right: 1rem;
}

.nav-list .nav-a.active {
	color: white;
}

.nav-list-new {
	margin-right: auto;
	margin-left: 1rem;
	padding-inline: unset;
}

.nav-new {
	color: black;
	border: 1px solid var(--color-main);
	background-color: var(--color-main);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding-inline: 0.5rem;
	padding-block: 0.5rem;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 600;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
	transition: all 200ms ease;
}

.nav-new:visited {
	color: black;
}

.nav-new:hover {
	background-color: transparent;
	color: var(--color-main);
}

.nav-ul-mobile {
	display: none;
}

.nav-mobile-li {
	display: flex;
}

.nav-mobile-bars {
	margin-left: 1rem;
}

.nav-mobile-bars button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	aspect-ratio: 1/1;
	height: 2.5rem;
	transition: all 200ms ease;
}

.nav-mobile-bars button:hover {
	background-color: #333;
}

.nav-mobile-new {
	margin-left: auto;
	margin-right: 1rem;
}

@media screen and (max-width: 540px) {
	.nav-ul-mobile {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.nav {
		position: sticky;
		z-index: 999;
	}

	.nav-ul {
		background-color: #333;
		position: absolute;
		top: 0%;
		right: 100%;
		height: 300px;
		width: 100%;
		flex-direction: column;
		justify-content: unset;
		z-index: 999;
		transition: all 200ms ease;
	}

	.nav-ul.active {
		right: 0%;
	}

	.nav-list-new {
		display: none;
	}
}
